gardengame/Saved/

gardengame/Content/Maps/ThirdPersonExampleMap_BuiltData.uasset
gardengame/Saved/Logs/gardengame.log
gardengame/Saved/Config/Windows/Input.ini
gardengame/Saved/Config/Windows/EditorPerProjectUserSettings.ini
gardengame/Saved/Config/Windows/Editor.ini
gardengame/Intermediate/Config/CoalescedSourceConfigs/Input.ini
gardengame/Intermediate/CachedAssetRegistry.bin
GardenGame_Builds/GardeningGame_Win_Compo.zip
